---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');

  // Ensure the posts have a tags array
  const uniqueTags = [...new Set(allPosts.flatMap((post) => post.frontmatter.tags || []))];

  return uniqueTags.map((tag) => {
    // Filter posts that contain the current tag
    const filteredPosts = allPosts.filter((post) => {
      const tags = post.frontmatter.tags || [];
      return tags.includes(tag);
    });

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))}
  </ul>
</BaseLayout>
