---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
    <p> Hello There!</p>
    <p>I'm Kevin. I'm currently studying at <a href="https://www.sdu.dk/">Southern University of Denmark</a> for my masters in Computer Science.</p>
</BaseLayout>