---
---
<div class="nav-links">
  <a href="/astro/" class="py-2 px-3 rounded">Home</a>
  <a href="/astro/about"class="py-2 px-3 rounded">About</a>
  <a href="/astro/blog"class="py-2 px-3 rounded">Blog</a>
  </div>
  <style>
  a:hover {
  text-decoration: underline;
}
  </style>
