---
const { platform, username } = Astro.props;
---
<a class="social" href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
    padding: 0.5rem 1rem;
    color: rgb(12 74 110);
    text-decoration: none;
    }
    a:hover {
text-decoration: underline
}
  </style>
